<form action="/admin/doctor" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
  </div>
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name">
  </div>
  <div class="form-group">
    <label for="specialty">Specialty:</label>
    <select class="specialty" name="specialty">
      <option value="1">Pediatrics</option>
      <option value="2">Family Medicine</option>
      <option value="3">Internal Medicine</option>
      <option value="4">Obstetrics</option>
      <option value="5">Plastic Surgery</option>
    </select>
  </div>
  <button type="submit" name="submit">Add</button>
</form>
