<h1>Hi, <%= @doctor.first_name%> <%=@doctor.last_name%>, here are all your patients:</h1>

<ul>
  <% @patients.each do |patient| %>
    <li><%= patient.first_name %> <%= patient.last_name %></li>
  <% end %>
</ul>
