<h1>What are you?</h1>
<a href="/admin" id="admin"><button type="button" name="admin">Admin</button></a>
<a href="/doctor" id="doctor"><button type="button" name="doctor">Doctor</button></a>
<a href="/patient" id="patient"><button type="button" name="patient">Patient</button></a>
